div{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
button{
  padding:12px;  
} 
input, select {
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  margin: 0 5px;
  width:100px;
  display: inline-block;
}
.error {
  color: #990000;
  text-align: center;
}